<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-blue scrolling-navbar">
  <logo>
      <a class="logo navbar-brand" routerLink=""><strong>Tr3umphant.Designs</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" routerLink="/service">Service</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" routerLink="/projects">Projects</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link" routerLink="/reviews">Reviews</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" routerLink="/contact" uiSref="contact">Contact</a>
        </li>
      </ul>

      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbRippleRadius mdbTooltip="Facebook" placement="bottom">
              <a class="nav-link" href="https://www.facebook.com/tr3umphantdesigns/"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius mdbTooltip="Twitter" placement="bottom">
              <a class="nav-link" href="https://twitter.com/tr3designs"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius mdbTooltip="Instagram" placement="bottom">
              <a class="nav-link" href="https://www.instagram.com/tr3umphant.designs/?hl=en"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius mdbTooltip="YouTube" placement="bottom">
            <a class="nav-link" href="https://www.youtube.com/channel/UCjcR0stkmPmeYkf9JDEq_ZQ"><i class="fa fa-youtube"></i></a>
        </li>
      </ul>
  </links>
</mdb-navbar>
