<section id="home" class="animated fadeIn text-center" style="padding: 30px 0">
    <div class="container">
        <hr class="col-sm-4">
    
        <h1 class="blue-text">Tr3umPHant.Designs</h1>
        <hr class="col-sm-4"> 
    
        <!--Carousel Wrapper-->
        <mdb-carousel [animation]="'slide'" >
            <!--First slide-->
            <mdb-slide>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
            </mdb-slide>
            <!--/First slide-->
            <!--Second slide-->
            <mdb-slide>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
            </mdb-slide>
            <!--/Second slide-->
            <!--Third slide-->
            <mdb-slide>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
            </mdb-slide>
            <!--/Third slide-->
        </mdb-carousel>
        <!--/.Carousel Wrapper-->
    
        <hr class="col-sm-12">
        <h4>The web and mobile app development service that you want. Need a website for your new business, an Android app for social gathering purposes, or an iOS app for keeping daily tasks/notes, development is easier than ever.</h4>
        <a class="btn orange darken 1" routerLink="/about" style="margin-top: 50px">Learn More</a>
    </div>
</section>


