<section id="home" class="animated fadeIn text-center" style="padding: 30px 0">
    <div class="container">
        <div class="text-center">
            <div class="card blue lighten-4 text-center z-depth-1">
                <div class="card-block">
                    <img class="animated pulse infinite" [src]="logoUrl"  alt="" height="400px"/>
                </div>
            </div>
            <hr class="col-sm-4">
            <h4>The web and mobile app development service that you want. Need a website for your new business, an Android app for social gathering purposes, or an iOS app for keeping daily tasks/notes, development is easier than ever.</h4>
            <a class="btn orange darken 1" routerLink="/about" style="margin-top: 50px">Learn More</a>
        </div>
    </div>
</section>


