<section id="reviews" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="orange-text animated zoomInRight"><strong>Reviews</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">Don't just take my word for it.</h4>
            </div>
        </div>
        <br/>
        <div class="row">
          <!-- Review 1 -->
          <div class="col-lg-4 col-md-12 mb-r">
            <div class="card testimonial-card">
                <div class="card-up teal lighten-2">
                </div>
                <div class="avatar"><img src="/img/reviews/quinnten_fuller.jpeg" class="rounded-circle img-responsive">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-1">Quinnten Fuller</h4>
                    <hr>
                    <p><i class="fa fa-quote-left"></i> We chose to hire Trey for the web development of Intercom Marketing because of an urgent deadline that needed to be met. His selflessness, knowledge, and professionalism made it easy to communicate our business needs throughout the entire process . Trey over delivered by far and we were able to launch gointercommarketing.com ahead of schedule; thank you Trey.</p>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>