
<footer class="footer-copyright bg-blue py-3 text-center text-white">
    © 2018 Copyright Tr3umphant.Designs
  </footer>
                      
<!-- <footer class="page-footer blue center-on-small-only fixed-bottom">

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img width="250px" [src]="logoUrl" alt="Logo" style="background: white">
            </div>

            <div class="col-md-6 text-center">
                <h5 class="title">Share My Website</h5>
                <ul>
                    <li><a (click)="share('FACEBOOK')">To Facebook</a></li>
                    <li><a (click)="share('TWITTER')">To Twitter</a></li>
                    <li><a (click)="share('LINKEDIN')">To LinkedIn</a></li>
                    <li><a (click)="share('GOOGLE+')">To Google+</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright Tr3umphant.Designs
        </div>
    </div>
</footer> -->
