<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-blue scrolling-navbar" [containerInside]="false">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>Tr3umphant.Designs</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link">About</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link">Service</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link">Projects</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link">Reviews</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">Blogs</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link"><i class="fa fa-youtube"></i></a>
        </li>
      </ul>
  </links>
</mdb-navbar>