<section id="projects" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="orange-text animated zoomInRight"><strong>Projects</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">Take a look at some of my previous work.</h4>
            </div>
        </div>
        <br/>
        <div class="row">    
        <!--Projects section v.2-->
        <section class="section text-center pb-3">
        <div class="row d-flex justify-content-center">
            <!-- Rightway Traffic Solutions -->
            <div class="col-lg-6 col-xl-5 mb-3">
                <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
                    <img src="/img/projects/rightwayts.png" alt="Sample project image">
                    <a><div class="mask"></div></a>
                </div>
                <div class="card-body mt-1">
                    <a href="" class="green-text">
                        <h5><i class="fa fa-keyboard-o"></i> Website</h5>
                    </a>
                    <h4>Rightway Traffic Solutions</h4>
                    <p>Website for local Denver traffic control business.</p>
                    <a class="btn btn-success btn-rounded waves-light" href="http://rightwayts.tr3umphant-designs.com" mdbRippleRadius>View Project</a>
                    </div>
            </div>
            <!-- Tr3umPHant-Designs 2.0 -->
            <div class="col-lg-6 col-xl-5 mb-3">
                <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
                    <img src="/img/projects/tr3umphant_designs_1.0.png" alt="Sample project image">
                    <a><div class="mask"></div></a>
                </div>
                <div class="card-body mt-1">
                    <a href="" class="green-text">
                        <h5><i class="fa fa-keyboard-o"></i> Website</h5>
                    </a>
                    <h4>Tr3umPHant-Designs 2.0</h4>
                    <p>My second version of my personal portfolio website, (I am currently on 5.0 now).</p>
                    <a class="btn btn-success btn-rounded waves-light" href="http://t3d.tr3umphant-designs.com" mdbRippleRadius>View Project</a>
                    </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <!-- Brie's Portfolio -->
            <div class="col-lg-6 col-xl-5 mb-3">
                <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
                    <img src="/img/projects/brie_hope.png" alt="Sample project image">
                    <a><div class="mask"></div></a>
                </div>
                <div class="card-body mt-1">
                    <a href="" class="green-text">
                        <h5><i class="fa fa-keyboard-o"></i> Website</h5>
                    </a>
                    <h4>Brie's Portfolio</h4>
                        <p>A portfolio website I created for my sister.</p>
                        <a class="btn btn-success btn-rounded waves-light" href="http://brielhope.com" mdbRippleRadius>View Project</a>
                        </div>

            </div>
            <!-- Intercom Marketing -->
            <div class="col-lg-6 col-xl-5 mb-3">
                <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
                    <img src="/img/projects/gointercommarketing.png" alt="Sample project image">
                    <a><div class="mask"></div></a>
                </div>
                <div class="card-body mt-1">
                    <a href="" class="green-text">
                        <h5><i class="fa fa-keyboard-o"></i> Website</h5>
                    </a>
                    <h4>Intercom Marketing</h4>
                    <p>Business website for digital marketing company based in Miami, FL.</p>
                    <a class="btn btn-success btn-rounded waves-light" href="http://gointercommarketing.com" mdbRippleRadius>View Project</a>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <!-- Trey Hope -->
            <div class="col-lg-6 col-xl-5 mb-3">
                <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
                    <img src="/img/projects/treyahope.png" alt="Sample project image">
                    <a><div class="mask"></div></a>
                </div>
                <div class="card-body mt-1">
                    <a href="" class="green-text">
                        <h5><i class="fa fa-keyboard-o"></i> Website</h5>
                    </a>
                    <h4>Trey Hope</h4>
                        <p>Personal website displaying various pictures and graphic designs by myself.</p>
                        <a class="btn btn-success btn-rounded waves-light" href="http://treyahope.tr3umphant-designs.com/" mdbRippleRadius>View Project</a>
                        </div>
            </div>
        </div>
        </section>
        </div>
    </div>
</section>

