<section id="projects" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="orange-text animated zoomInRight"><strong>Projects</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">Take a look at some of my previous work.</h4>
            </div>
        </div>
        <br/>
        <div class="row">    
            <section class="section text-center pb-3">
                <div class="row d-flex justify-content-center">
                    <!-- Rightway Traffic Solutions -->
                    <div class="col-lg-6 col-xl-5 mb-3">
                        <div class="view overlay hm-white-slight z-depth-2 waves-light">
                            <img [src]="rightWayTrafficSolutions" alt="Sample project image" width="100%">
                        </div>
                        <div class="card-body mt-1">
                            <a href="" class="blue-text">
                                <h5><i class="fa fa-keyboard-o"></i> Website</h5>
                            </a>
                            <h4>Rightway Traffic Solutions</h4>
                            <p>Website for local Denver traffic control business.</p>
                            <a class="btn btn-success btn-rounded waves-light" href="http://rightwayts.tr3umphant-designs.com" mdbRippleRadius>View Project</a>
                        </div>
                    </div>
                    <!-- Tr3umphant-Designs 2.0 -->
                    <div class="col-lg-6 col-xl-5 mb-3">
                        <div class="view overlay hm-white-slight z-depth-2 waves-light">
                            <img [src]="tr3umphantDesigns20" alt="Sample project image" width="100%">
                        </div>
                        <div class="card-body mt-1">
                            <a href="" class="blue-text">
                                <h5><i class="fa fa-keyboard-o"></i> Website</h5>
                            </a>
                            <h4>Tr3umphant-Designs 2.0</h4>
                            <p>My second version of my personal portfolio website, (I am currently on 5.0 now).</p>
                            <a class="btn btn-success btn-rounded waves-light" href="http://td2.tr3umphant-designs.com" mdbRippleRadius>View Project</a>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <!-- Intercom Marketing -->
                    <div class="col-lg-6 col-xl-5 mb-3">
                        <div class="view overlay hm-white-slight z-depth-2 waves-light">
                            <img [src]="gointercommarketing" alt="Sample project image" width="100%">
                        </div>
                        <div class="card-body mt-1">
                            <a href="" class="blue-text">
                                <h5><i class="fa fa-keyboard-o"></i> Website</h5>
                            </a>
                            <h4>Intercom Marketing</h4>
                            <p>Business website for digital marketing company based in Miami, FL.</p>
                            <a class="btn btn-success btn-rounded waves-light" href="http://quinntenfuller.tr3umphant-designs.com" mdbRippleRadius>View Project</a>
                        </div>
                    </div>
                    <!-- Trey Hope -->
                    <div class="col-lg-6 col-xl-5 mb-3">
                        <div class="view overlay hm-white-slight z-depth-2 waves-light">
                            <img [src]="treyahope" alt="Sample project image" width="100%">
                        </div>
                        <div class="card-body mt-1">
                            <a href="" class="blue-text">
                                <h5><i class="fa fa-keyboard-o"></i> Website</h5>
                            </a>
                            <h4>Trey Hope</h4>
                                <p>Personal website displaying various pictures and graphic designs by myself.</p>
                                <a class="btn btn-success btn-rounded waves-light" href="http://treyahope.tr3umphant-designs.com/" mdbRippleRadius>View Project</a>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <!-- tr3Designs -->
                    <div class="col-lg-6 col-xl-5 mb-3">
                        <div class="view overlay hm-white-slight z-depth-2 waves-light">
                            <img [src]="tr3designs_android" alt="Sample project image" width="100%">
                        </div>
                        <div class="card-body mt-1">
                            <a href="">
                                <h5><span class="green-text"><i class="fa fa-android"></i> Android</span>&nbsp;&nbsp;&nbsp;<span class="red-text"><i class="fa fa-apple"></i> iOS</span></h5>
                            </a>
                            <h4>tr3Designs</h4>
                            <p>Ecommerce mobile app where I sell some of my 3D printed products.</p>
                            <a class="btn btn-success btn-rounded waves-light" href="https://play.google.com/store/apps/details?id=io.tr3.tr3designsflutter" mdbRippleRadius>View Android Project</a>
                            <a class="btn btn-success btn-rounded waves-light" href="" mdbRippleRadius>View iOS Project</a>
                        </div>
                    </div>
                    <!-- Camp Central -->
                    <div class="col-lg-6 col-xl-5 mb-3">
                        <div class="view overlay hm-white-slight z-depth-2 waves-light">
                            <!-- <img [src]="tr3designs_android" alt="Sample project image" width="100%"> -->
                        </div>
                        <div class="card-body mt-1">
                            <a href="">
                                <h5><span class="red-text"><i class="fa fa-apple"></i> iOS</span></h5>
                            </a>
                            <h4>Camp Central</h4>
                            <p>Central resource for highschool football players looking to take their talents to the college level.</p>
                            <a class="btn btn-success btn-rounded waves-light" href="https://itunes.apple.com/us/app/camp-central/id1321169080?mt=8" mdbRippleRadius>View iOS Project</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

