<toaster-container></toaster-container>
<section id="contact" class="animated fadeIn" style="padding: 30px 0">
  <div class="container">
      <div class="row">
          <div class="col">
              <h1 class="orange-text animated zoomInRight"><strong>Contact</strong></h1>
              <hr>
              <h4 class="animated zoomInRight">If you have a request already in mind or just have general questions, please submit a message.</h4>
          </div>
      </div>
      <br>
      <div class="row" style="padding-top: 30px">
          <div class="col">
            <form novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)" >
                <div class="md-form">
                    <input type="text" id="fullname" class="form-control" formControlName="fullName">
                    <label class="active" for="fullname">Your full name</label>
                </div>
                <div class="md-form">
                    <input type="text" id="email" class="form-control" formControlName="email">
                    <label class="active" for="email">Email</label>
                </div>
                <div class="md-form">
                    <textarea type="text" id="message" class="md-textarea" maxlength="400" formControlName="message"></textarea>
                    <label class="active" for="fullname">Message (400 characters max)</label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn purple darken">Send Message</button>
                </div>
            </form>
          </div>
      </div>
  </div>
</section>