<section id="about" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="orange-text animated zoomInRight"><strong>About</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">What is Tr3umphant.Designs?</h4>
                <p>Tr3umphant.Designs is a web and mobile app development service for personal or business use. Using <a href="https://mdbootstrap.com/">MDBootstrap</a> and <a href="https://angularjs.org/">AngularJS</a>, 
                    expansive websites are a guarantee, as well as Java and Swift to create powerful Android or iOS apps. A customer simply states that they need an app and what they need in it, pricing is set to 
                    ensure it's affordable and fitting for the work required, then development can start as quick as the following day.With good deals on products and a developer with a passion for creation, your next app is only a click away.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h4 class="animated zoomInRight">Mission Statement</h4>
                <p><strong>"To create expansive, fully functional web and mobile applications, provide excellent customer service, and display good energy through artistry."</strong></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <section class="feature-box">
                    <div class="row features-big">
                        <div class="col-md-3 mb-r text-center" style="margin-bottom: 0 !important">
                            <i class="fa fa-calendar fa-5x red-text"></i>
                            <h4 class="feature-title red-text" style="padding-top: 20px">Quick Turnover</h4>
                            <p>Average time developing a website is 3-4 weeks. Factors such as functionality of website, features, and purpose of the app may add time as well. Mobile apps will take between 5-6 months depending on complexity.</p>
                        </div>
                        <div class="col-md-3 mb-r text-center" style="margin-bottom: 0 !important">
                            <i class="fa fa-dollar fa-5x green-text"></i>
                            <h4 class="feature-title green-text" style="padding-top: 20px">Affordable Prices</h4>
                            <p>Prices are talored to fit every budget depending on your needs. You can be assured that Tr3umphant.Designs is synonymous with quality and affordable costs.</p>
                        </div>
                        <div class="col-md-3 mb-r text-center" style="margin-bottom: 0 !important">
                            <i class="fa fa-support fa-5x blue-text"></i>
                            <h4 class="feature-title blue-text" style="padding-top: 20px">Ongoing Support</h4>
                            <p>You can have your project updated at any time, with a small fee. Any questions or concerns will be handled swiftly by phone or email.</p>
                        </div>
                        <div class="col-md-3 mb-r text-center" style="margin-bottom: 0 !important">
                            <i class="fa fa-edit fa-5x orange-text"></i>
                            <h4 class="feature-title orange-text" style="padding-top: 20px">Customizable</h4>
                            <p>Every project is tailored to your wants and needs. Using a CSS framework with over 600+ icons, 400+ UI elements, and 60+ CSS animations, as well as the latest and sleek UI classes for mobile projects, your project will fit you perfectly. </p>
                        </div>
                    </div>
                </section>
            </div> 
        </div>
    </div>
</section>

