<section id="blogs" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="orange-text animated zoomInRight"><strong>Blogs</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">Stay up to date with my development.</h4>
            </div>
        </div>
        <div class="row" *ngFor="let post of posts" style="padding-top: 40px">
            <div class="col-12">
                <span class="pull-left">
                    <h4><strong>{{ post.title }}</strong></h4>
                    <p><i class="fa fa-clock-o"></i> {{ post.published | date:'short' }}</p>
                </span>
                <a class="pull-right btn orange darken 1" (click)="goToBlog(post.id)"><i class="fa fa-eye fa-5x"></i> View</a>  
            </div>
        </div>
    </div>
</section>